body {
    background-color: #F5F5DC;
    text-align: center;
}

.block {
    margin: 20px auto 20px auto;
    width: 90%;
    background-color: #8de2a9;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.center {
    text-align: center;
}