.inline {
    display: inline-block;
}

.red {
    color: red;
}

.error {
    color: red;
    font-size: 12px;
}

.choicesRemained {
    font-size: 12px;
    margin: 7px;
}

.pollMain {
    margin: auto;
    width: 90%;
    background-color: #8de2a9;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.table {
    margin: auto;
    align-items: left;
}

td {
    text-align: left;
}

.pollContents {
    margin: 40px;
}

.progressBarContainer {
    width: 200px;
    position: relative;
}

.progressBar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 136, 172);
    text-indent: 5px;
}